* {
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  height: 100%;
  margin: 0;
}
body {
  font-family: "Cutive mono", monospace;
  letter-spacing: 6px;
}
h1 {
  background-color: #0379be;
  color: white;
  display: block;
  font-size: 1.8rem;
  font-weight: lighter;
  height: 42px;
  left: 0;
  line-height: 1.6;
  margin: 0;
  padding: 1rem 2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
h1:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  left: 0;
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
  border-top: 12px solid #0379be;
  position: absolute;
  top: 42px;
}
h2 {
  font-size: 1.75rem;
  font-weight: lighter;
  margin: 1rem 0 1rem;
}
.reset {
  background: #2abbee;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  opacity: 1;
  padding: 4px 12px 2px;
  position: fixed;
  right: 1rem;
  top: 10px;
  transition: all 0.33s;
  z-index: 10;
}
.active .reset {
  opacity: 1;
  top: 1.2rem;
  z-index: 2;
}
.reset:hover {
  background: #aa17b3;
}
.authors {
  font-size: 14px;
  list-style-type: none;
  margin-top: 100px;
  padding: 0 3rem;
  width: 100%;
  column-width: 200px;
}
.authors li {
  display: inline-block;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0 0 10px 0;
  vertical-align: top;
  width: 100%;
}
.authors li:hover {
  color: #ea17b3;
  cursor: pointer;
}
.authors span {
  display: block;
}
.with {
  background-color: #28bcee;
  color: white;
  font-size: 32px;
  height: 120px;
  line-height: 1;
  padding: 6rem 2rem 1rem 2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
.with h2 {
  font-size: 1.2rem;
  line-height: 1;
  margin: 0;
}
.with span {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  text-align: center;
  width: auto;
  z-index: 3;
}
.with .alphabet {
  height: 12vh;
  overflow: visible;
}
p {
  margin: 0;
}
.strike {
  color: rgba(255, 255, 255, 0.6);
}
.strike:after {
  background-color: white;
  border-radius: 6px;
  content: "";
  display: block;
  height: 34px;
  position: absolute;
  top: 2px;
  left: 8px;
  width: 2px;
  transform: rotate(30deg);
}
.riddle {
  font-weight: bold;
  height: calc(100vh - 130px);
  overflow: auto;
  padding: 1vh 2rem 0;
  position: relative;
  top: 130px;
  transition: all 0.25s;
  width: 100%;
}
.riddle h2 {
  color: #d62c6f;
  margin-bottom: 2rem;
}
.riddle h2.author {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.riddle h2.category {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 0;
}
.riddle .word {
  display: inline-block;
  margin: 0 18px 8px 0;
}
.riddle .phrase {
  margin-bottom: 16px;
}
.riddle span {
  background: #cdd9df;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  color: #3b5064;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: 100;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding-left: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.66s;
  width: 28px;
}
.riddle .punctuation {
  background: transparent;
  border-color: transparent;
  color: black;
  min-width: 1px;
  padding: 0 0 0 2px;
  width: 16px;
}
.riddle span:last-child {
  border-right-width: 1px;
}
.riddle .selected {
  background: #fa008f;
  border-color: white;
  color: white;
}
.riddle .switched {
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid black;
  color: black;
}
.solved {
  border-color: white;
}
.solved span {
  min-width: 1px;
  text-transform: none;
}
.solved .word {
  display: inline-block;
}
.solved .phrase {
  display: block;
}
.solved .phrase .word:first-child span:first-child {
  text-transform: uppercase;
}
.solved .switched {
  background: white;
  border-color: white;
  text-transform: uppercase;
}
.solved h2 {
  color: green;
}

@media (max-width: 700px) {
  .with {
    height: 144px
  }

  .riddle {
    height: calc(100vh - 154px);
    top: 154px;
  }

  .riddle .phrase {
    margin-bottom: 12px;
  }

  .riddle .word {
    margin: 0 16px 10px 0;
  }

  .riddle span {
    padding-left: 4px;
    width: 24px;
  }
}
